
@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 400px;
}

body { 
  background: #212c36; 
  font-family: Lato, 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}

.mountains {
  /*background:#3498db;*/
  color:#FCFCFF;
  width:33.33%;
  float:left;
  height:103px;
  overflow:hidden;
  margin:auto;
  text-align:center;
  .mountains-inner {
    height: 94px;
    border: 1px dotted #434652;
    margin: auto;
    width: 95%;
    margin-top: 3px;
    padding-top:3px;
  }
  .mountain-name {
    font-size:1em;
    font-weight:bold;
  }
  .mountain-info {
    font-size:0.7em;
    color:#A8A8A8;
  }
}

#mountain {
  width:100%;
  height:100%;
  color:#FCFCFF;
  #mountain-body {
    overflow: hidden;
    margin:5px;
    margin-top:103px;
  }
  #mountain-header {
    height:auto;
    overflow:hidden;
    position:absolute;
    top:0px;
    width:100%;
    .mountain-header-item {
      color:#FCFCFF;
      width:33.33%;
      float:left;
      height:103px;
      overflow:hidden;
      margin:auto;
      text-align:center;
      .mountain-header-item-inner {
        height: 94px;
        border: 1px dotted #434652;
        margin: auto;
        width: 95%;
        margin-top: 3px;
        padding-top:3px;
      }
      #temperature {
        font-weight: bold;
        font-size: 2.8em;
        margin-top: 8px;
        margin-bottom: 4px;
      }
      #snowing {
        font-weight: bold;
        margin-top: 12px;
      }
      #new-snow {
        font-weight: bold;
        font-size: 2.8em;
        margin-top: 8px;
        margin-bottom: 4px; 
      }
      #state-name {
        font-size: 0.7em;
        color: #A8A8A8;
      }
    }
  }
  .mountain-title {
    font-weight: bold;
    font-size: 1em;
  }
}