<div class="mountains">
  <div class="mountains-inner">
    <span class="mountain-name"> {{ feature.properties.Name }} </span><br />
    <span class="mountain-info">{{ feature.properties.State}} </span>
    <div class="mountain-info"> New Snow <b>{{ feature.properties.current_new }}"</b></div>
  </div>
</div>