<div class="mountains">
  <span class="mountain-name"> {{ mountain }} </span><br />
  <!--<span class="mountain-info">{{ feature.properties.State}} </span>
  <div class="mountain-info"> 24hr Snow <b>{{ feature.properties.current_new }}"</b></div>-->
  <span class="mountain-info">State, USA </span>
  <div class="mountain-info"> 24hr Snow <b>0"</b></div>
</div>