<div class="mountains">
  <span class="mountain-name"> {{ feature.properties.Name }} </span><br />
  <span>{{ feature.properties.State}},  </span>
  <span> New: {{ feature.properties.current_new }}" </span>

</div>