<?xml version='1.0' encoding='utf-8'?>
<widget id="com.map.freshy" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FreshyMap</name>
    <description>
        A real time snow reporting application.
    </description>
    <author email="freshymap@gmail.com" href="http://freshymap.com">
        Freshymap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="SplashScreen" value="splash"/>
</widget>
